<div class="nav container">Clark blog
  <div class="text">不要温顺地走进那个良夜，激情不能被消沉的暮色退缩，咆哮吧咆哮，痛斥那光的退缩！</div>
  <div class="xiala">
    <div class="hidde"></div>
    <div class="xiala1">
      <div class="xiala_ul">
        <a href="/page"><span><b>首页</b></span></a>
        <a href="/page/all"><span><b>杂文趣事</b></span></a>
        <a href="/page/sces"><span><b>技术达人</b></span></a>
        <a href="/page/travel"><span><b>旅游生活</b></span></a>
        <a href="/myself"><span><b>Myself</b></span></a>
      </div>
    </div>
  </div>
</div>
