{%load static%}
<div class="container lun">
  <div class="box" id="box-id">
      <ul class="image" id="img-id">
        <li class="current"><a href="#"><img src="{%static 'images/mi/4.jpg'%}" alt=""></a></li>
          <li><a href="#"><img src="{%static 'images/mi/2.jpg'%}" alt=""></a></li>
          <li><a href="#"><img src="{%static 'images/mi/3.jpg'%}" alt=""></a></li>
          <li><a href="#"><img src="{%static 'images/mi/1.jpg'%}" alt=""></a></li>
      </ul>
      <div class="point" id="point-id"></div>
  </div>
</div>
