<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p>scheme:{{scheme}}</p>
  <p>body:{{body}}</p>
  <p>path:{{path}}</p>
  <p>method:{{method}}</p>
  <p>content_type:{{content}}</p>
  <p>get:{{get}}</p>
  <p>post:{{post}}</p>
  <p>cookies:{{cookies}}</p>
  <P>meta:{{meta}}</P>
  <P>meta.addr:{{addr}}</P>
  <p>meat.url:{{url}}</p>
</body>
</html>
