<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>select</title>
</head>
<body>
  <h5>{{a}}</h5>
  {% for i in a%}
  {{i.title}}
  {%endfor%}
  <hr>
  <h5>{{b}}</h5>
  {% for i in b%}
  {{i.title}}
  {%endfor%}
  <hr>
  <h5>{{c}}</h5>
  {% for i in c%}
  {{i.1}}
  {%endfor%}
  <hr>
  {{d.first_name}}.{{d.last_name}}
  <hr>
  {{e}}
  <br>
  {{f}}
  <br><hr>
  {{book}}
  {{p.name}}
  <hr>aaaaa
  {{book_list}}
  <br>
  {{book_list1}}
  <br><hr>
  {{author_list.first_name}}
  <h5>哈哈哈</h5>
  {{g}}
</body>
</html>
